[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"
flake8 = "*"

[packages]
nameko = "==2.11.0"
flask = "==1.0.2"
redis = "*"
flasgger = "*"

[requires]
python_version = "3.7"
